div h1{
    font:normal 50pt Arial;
    font-weight: bolder;
    color:blue;
}
div#principal{
    display: block;
    text-align: center;
}
.botoes{
    padding: 20px;
    margin-left: 30px;
    background-color: brown;
    color:white;
}