body{
    background-color: mediumaquamarine;
}
header#titulo h1{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    text-align: center;
    color:white;
}
input#botao{
    display: block;
    margin: auto;
    size: 20pt;
    padding: 10px;
    font-family: Arial,sans-serif;
    background-color: rgb(229, 255, 0);
    border: none;
}